html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
}

* {
    box-sizing: inherit;
}

.main-header, .main-nav, .main-nav__item {
/*    border: 1px solid;*/
}

.main-header {
    width: 100vh;
    
/*    transform: translateX(-100vw);*/
    transform-origin: top left;
/*    transform: translateX(-99vw) rotate(-90deg);*/
    position: fixed;
    left: 100px;
    top: 0;
    transform: rotate(90deg);
/*    background: blue;*/
}

.brand-logo {
    display: inline-block;
    width: 34px;
/*    border: 1px solid;*/
    vertical-align: middle;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    transform: rotate(-90deg);
/*
    position: relative;
    left: 900px;
    transform: 
*/
}

.main-nav {
    display: inline-block;
    vertical-align: middle;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 130px;
    transform: rotate(180deg);
/*
    position: relative;
    left: 700px;
*/
}

.main-nav__items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.main-nav__item {
    display: inline-block;
    padding: 10px;
    margin: 0 10px;
    vertical-align: middle;
}

.main-nav__item a {
    text-decoration: none;
}

.main-nav__items .active {
    border-top: 3px solid;
}

main, footer {
    margin-left: 100px;
    border-left: 1px solid;
}