html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: 'Roboto Slab', serif;
}

* {
    box-sizing: inherit;
}

.main-header, .main-nav, .main-nav__item {
/*    border: 1px solid;*/
}


/********
Header
*******/
.main-header {
    width: 100vh;
    transform-origin: top left;
    position: absolute;
    left: 100px;
    top: 0;
    transform: rotate(90deg);
}

.brand-logo {
    display: inline-block;
    width: 34px;
    vertical-align: middle;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    transform: rotate(-90deg);
}

.main-nav {
    display: inline-block;
    vertical-align: middle;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 130px;
    transform: rotate(180deg);
}

.main-nav__items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.main-nav__item {
    display: inline-block;
    padding: 10px;
    margin: 0 10px;
    vertical-align: middle;
}

.main-nav__item a {
    text-decoration: none;
}

.main-nav__item.active::before {
/*
    content: "";
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 405px;
    border: 2px solid blue;
    width: 50px;
*/
}

main, footer {
    margin-left: 100px;
    border-left: 1px solid;
}

/************
Top section
************/

.top-section__left {
    background-image: url('beach-boat-bridge-326840.jpg');
    background-size: cover;
    width: 60vw;
    height: 80vh;
}

.top-section__left p {
    margin: 0;
}