html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: 'Roboto Slab', serif;
}

* {
    box-sizing: inherit;
}

.main-header, .main-nav, .main-nav__item {
/*    border: 1px solid;*/
}


/********
Header
*******/
.main-header {
    width: 100vh;
    transform-origin: top left;
    position: absolute;
    left: 100px;
    top: 0;
    transform: rotate(90deg);
}

.brand-logo {
    display: inline-block;
    width: 34px;
    vertical-align: middle;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    transform: rotate(-90deg);
}

.main-nav {
    display: inline-block;
    vertical-align: middle;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 130px;
    transform: rotate(180deg);
}

.main-nav__items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.main-nav__item {
    display: inline-block;
    padding: 10px;
    margin: 0 10px;
    vertical-align: middle;
}

.main-nav__item a {
    text-decoration: none;
    color: #000;
}

.main-nav__item.active::before {
/*
    content: "";
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 405px;
    border: 2px solid blue;
    width: 50px;
*/
}

main, footer {
    margin-left: 100px;
    /*border-left: 1px solid;*/
}

/************
Top section
************/

.top-section__left {
    display: inline-block;
    vertical-align: middle;
    background-image: url('beach-boat-bridge-326840.jpg');
    background-size: cover;
    width: 60vw;
    height: 90vh;
}

.left-text {
    position: absolute;
    left: 8rem;
    bottom: 8rem;
    color: #FFF;
}

.left-text p {
    font-style: italic;
    font-weight: 100;
    margin-bottom: -1rem;
    color: #FFF;
}

.left-text h1 {
    font-size: 3rem;
    margin: 10px auto;
}

.left-text h1::after {
    content: "";
    display: block;
    position: relative;
    margin: 0 auto;
    bottom: 1.8rem;
/*    width: 105%;*/
    left: -0.55rem;
    width: 16.5rem;
    height: 2.1rem;
    background: rgba(255,255,255,0.4);
/*    border-bottom: 2rem solid rgba(255,255,255,0.4);*/
}

.social-icons {
/*    border: 1px solid;*/
    position: relative;
    top: 0.7rem;
}

.fa-facebook-f, .fa-instagram, .fa-twitter {
    display: inline-block;
    margin-right: 1.2rem;
}

.top-section__right {
    width: 31vw;
    height: 90vh;
    display: inline-flex;
    vertical-align: middle;
/*    border: 1px solid;*/
    margin: 0;
    align-items: center;
}

.right-places {
    list-style-type: none;
    padding: 0;
    margin: 0 6rem;
    height: 85vh;
    text-align: justify;
/*    border: 1px solid;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right-place {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.right-place__heading {
    font-size: 1.5rem;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
}

.right-place .fa-shuttle-van, .right-place .fa-plane, .right-place .fa-umbrella-beach {
    color: #c0392b;
    vertical-align: middle;
    margin-right: 1rem;
}

.right-place .fa-plane {
    transform: rotate(-90deg);
}

.right-place .fa-umbrella-beach {
    transform: rotateY(-180deg);
}

.right-place__description {
    font-size: 0.85rem;
    color: #6c7a89;
}

.right-place__description::after {
    content: "";
    display: block;
    position: relative;
    top: 0.7rem;
    width: 98%;
    margin: 0 auto;
    border-bottom: 1px solid #bfbfbf;
}

.right-place__location, .right-place__date {
    font-size: 0.6rem;
    font-style: italic;
    color: #bfbfbf;
    margin-top: 0.5rem;
}

/**************
Middle section
***************/
#middle-section {
    margin-top: 10vh;
    height: 90vh;
    border: 1px solid;
}

.middle-left__items {
    margin-left: 25vw;
    width: 26vw;
    border: 1px solid;
}